* {
    font-family: "Hack", monospace;
}

window {
    background-color: #1e1e2e;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    background-color: #1e1e2e;
    color: #cdd6f4;
}

#inner-box {
    background-color: #313244;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: #313244;
}

#scroll {
    margin: 5px;
}

#text {
    padding: 4px;
    color: #cdd6f4;
}

#entry:nth-child(even) {
    background-color: #45475a;
}

#entry:selected {
    background-color: #cba6f7;
}

#text:selected {
    background: transparent;
    color: #1e1e2e;
}